<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>SetAlarmServlet</servlet-name>
        <servlet-class>Servlet.SetAlarmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>Servlet.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>Servlet.ListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dietFoodServlet</servlet-name>
        <servlet-class>Servlet.dietFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>normalFoodServlet</servlet-name>
        <servlet-class>Servlet.normalFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>weightGainFoodServlet</servlet-name>
        <servlet-class>Servlet.weightGainFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanServlet</servlet-name>
        <servlet-class>Servlet.PlanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetAlarmServlet</servlet-name>
        <url-pattern>/SetAlarm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dietFoodServlet</servlet-name>
        <url-pattern>/dietFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>normalFoodServlet</servlet-name>
        <url-pattern>/normalFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>weightGainFoodServlet</servlet-name>
        <url-pattern>/weightGainFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanServlet</servlet-name>
        <url-pattern>/Plan</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
